* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair-Display';
  font-weight: 700;
}

.banner {
  padding: 5em 0;

  .logo {
    float: left;
  }

  h1 {
    color: $grey;
    display: inline;
    float: right;
    font-size: 5em;
    margin: 0;
    text-align: right;
  }
}

.logo {
  @include sizing(75px);
  background: $pink;
  border-radius: 100%;
  color: $white;
  font-family: 'Montserrat';
  font-size: 1.1em;
  line-height: 75px;
  text-align: center;
}

.row {
  margin-bottom: 2em;
  width: 100%;
}

.work {
  background: $grey;
  padding: 5em 0;

  .card {
    background: $white;
    border-radius: .35em;
    display: table;
    height: 450px;
  }

  .card-full {
    width: 100%;
  }

  .card-half {
    float: left;
    width: 48.5%;
  }

  .card-third {
    float: left;
    width: 75%;
  }

  .left {
    margin-right: 1.5%;
  }

  .right {
    margin-left: 1.5%;
  }

  .tall {
    height: 700px;
  }

	// .card-1 {
	// 	@include bg_img('../images/design_recources.svg', 80%, 280px 20px);
	// }
	// .card-2 {
	// 	@include bg_img('../images/design_for_devs.svg', 120%, -178px -205px);
	// }
	// .card-3 {
	// 	@include bg_img('../images/lolcolors.svg', 150%, 40px 168px);
	// }
	// .card-4 {
	// 	@include bg_img('../images/bruce.svg', 120%, 150px -160px);
	// }

  .card-inner {
    color: $white;
    display: table-cell;
    height: 100%;
    padding: 1.5em 12%;
    vertical-align: middle;

    p {
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
    }

    h2 {
      font-size: 4em;
      margin: 0;
    }
  }

  .pink {
    background: $pink-block;
    border-radius: .35em;
  }

  .green {
    background: $green-block;
    border-radius: .35em;
  }

  .purple {
    background: $purple-block;
    border-radius: .35em;
  }

  .blue {
    background: $blue-block;
    border-radius: .35em;
  }

  .view-more {
    float: left;
    height: 450px;
    padding-left: 3em;
    width: 25%;

    p {
      color: $grey-light;
      font-family: 'Playfair-Display';
      font-size: 1.5em;
      font-weight: 700;
      line-height: 20px;
      margin: 0;
      padding-top: 220px;
    }

    a {
      text-decoration: none;

      &:hover {

        p {
          color: $pink;
        }
      }
    }
  }
}

footer {
  padding: 3em 0;

  .logo {
    float: left;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-top: 1em;

    li {
      display: inline;
      float: left;
      margin-left: 4em;

      .title {
        display: block;
        font-size: .75em;
        font-weight: 700;
        padding-bottom: .5em;
        text-transform: uppercase;
      }

      .links {
        font-family: 'Playfair-Display';
        font-size: 1.75em;

        a {
          color: $grey;
          text-decoration: none;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}
