<section class="banner clearfix">
	<div class="container">
		<p class="logo">km</p>
		<h1>
			Designer.<br>
			Coder.<br>
			Maker.
		</h1>
	</div>
</section>

<section class="work">
	<div class="container">
		
		<div class="row">
			<div class="card card-full card-1">
				<div class="card-inner pink">
					<p>Design Recources</p>
					<h2>Meticulously crafted UI design assets</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card card-half tall left card-2">
				<div class="card-inner green">
					<p>Design for Developers</p>
					<h2>Devs Learn Design</h2>
				</div>
			</div>
			<div class="card card-half tall right card-3">
				<div class="card-inner purple">
					<p>Lol Colors</p>
					<h2>Curated Color Palettes</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card card-third card-4">
				<div class="card-inner blue">
					<p>Unicasts</p>
					<h2>Design to code web apps</h2>
				</div>
			</div>

			<div class="view-more">
				<a href="#">
					<p>View all projects</p>
				</a>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container clearfix">
		<p class="logo">km</p>
		<ul class="clearfix">
			<li>
				<span class="title">Get in touch</span>
				<span class="links"><a href="#">Email</a></span>
			</li>
			<li>
				<span class="title">Follow me on:</span>
				<span class="links"><a href="#">Twitter</a> &nbsp; <a href="#">Instagram</a> &nbsp; <a href="#">Dribble</a></span>
			</li>
		</ul>
	</div>
</footer>