$pink: #ea48eb;
$white: #fff;
$grey: #414148;
$grey-light: rgba(146, 145, 171, 1);
$pink-block: rgba(230, 56, 222, .6);
$green-block: rgba(80, 218, 93, .6);
$purple-block: rgba(145, 89, 219, .6);
$blue-block: rgba(131, 226, 245, .6);
